<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CashRoom</title>
    <link rel="stylesheet" href="~/css/site3.css" asp-append-version="true" />
</head>


<body class="wrap">
    <div class="upperBar">
        <div class="logoGame">
            <div class="logoCS">
                <img src="~/Image/csgo-logo.png" />
            </div>
            <div class="logoDota">
                <img src="~/Image/dota2-logo.png" />
            </div>
        </div>
        <div class="searchSkins">
            <img src="~/Image/Lupa.png" />
            <input type="text" placeholder="Поиск по скинам" id="elastic2" />
        </div>
        <div class="cash">
            <div class="priceLine">
                <div class="redLine">
                      <img src="~/Image/redLine.png" />
                </div>
                <div class="yellowLine">
                      <img src="~/Image/yellowLine.png" />
                 </div>
                 <div class="greenLine">
                      <img src="~/Image/greenLine.png" />
                 </div>
            </div>
            <p>
                Цена
            </p>
        </div>
        <div class="refreshButton">
            <img src="~/Image/Refresh2.png" />
        </div>
    </div>
    <div class="mainTheme">
        <div class="leftTheme">
            <div class="filters">
                <div class="filter">
                    <p>Цена</p>
                    <img src="~/Image/arrow2.png" />
                </div>
                <div class="filter">
                    <p>Раритетность</p>
                    <img src="~/Image/arrow2.png" />
                </div>
                <div class="filter">
                    <p>Износ</p>
                    <img src="~/Image/arrow2.png" />
                </div>
                <div class="filter">
                    <p>Холд</p>
                    <img src="~/Image/arrow2.png" />
                </div>
                <div class="filter">
                    <p>Float</p>
                    <img src="~/Image/arrow2.png" />
                </div>
                <div class="filter">
                    <p>Фаза</p>
                    <img src="~/Image/arrow2.png" />
                </div>
                <div class="filter">
                    <p>Стикеры</p>
                    <img src="~/Image/arrow2.png" />
                </div>
                <div class="filter">
                    <p>Другое</p>
                    <img src="~/Image/arrow2.png"/>
                </div>
            </div>
        </div>
        <div class="rightTheme">
            <div class="itemMarket">
                <div class="lot2" data-price="4988">
                    <div class="skinInfo2">
                        <div class="infoItem2">
                            ST™ / MW / 0.078103
                        </div>
                    </div>
                    <img src="~/Image/M4A4 Bullet Rain1.png" />
                    <div class="bottomLot2">
                        M4A4 | Bullet Rain
                    </div>
                    <div class="priceLot2">
                        4 988.16
                    </div>
                </div>
                <div class="lot2" data-price="53183">
                    <div class="skinInfo2">
                        <div class="infoItem2">
                            FN / 0.035134
                        </div>
                    </div>
                    <img src="~/Image/M4A1-S Blue Phosphor.png" />
                    <div class="bottomLot2">
                        M4A1-S | Blue Phosphor
                    </div>
                    <div class="priceLot2">
                        53 183.34
                    </div>
                </div>
                <div class="lot2" data-price="338899">
                    <div class="skinInfo2">
                        <div class="infoItem2">
                            FT / 0.359353
                        </div>
                    </div>
                    <img src="~/Image/M4A4 Howl.png" />
                    <div class="bottomLot2">
                        M4A4 | Howl
                    </div>
                    <div class="priceLot2">
                        338 899.05
                    </div>
                </div>
                <div class="lot2" data-price="129421">
                    <div class="skinInfo2">
                        <div class="infoItem2">
                            MW / 0.121248
                        </div>
                    </div>
                    <img src="~/Image/Butterfly Knife Slaughter.png" />
                    <div class="bottomLot2">
                        Butterfly Knife | Slaughter
                    </div>
                    <div class="priceLot2">
                        129 421.87
                    </div>
                </div>
                <div class="lot2" data-price="87634">
                    <div class="skinInfo2">
                        <div class="infoItem2">
                            MW / 0.138267
                        </div>
                    </div>
                    <img src="~/Image/Specialist Gloves Tiger Strike.png" />
                    <div class="bottomLot2">
                        Specialist Gloves | Tiger Strike
                    </div>
                    <div class="priceLot2">
                        87 634.76
                    </div>
                </div>
                <div class="lot2" data-price="1064968">
                    <div class="skinInfo2">
                        <div class="infoItem2">
                            FN / 0.063948
                        </div>
                    </div>
                    <img src="~/Image/AWP Gungnir.png" />
                    <div class="bottomLot2">
                        AWP | Gungnir
                    </div>
                    <div class="priceLot2">
                        1 064 968.87
                    </div>
                </div>
                <div class="lot2" data-price="9990">
                    <div class="skinInfo2">
                        <div class="infoItem2">
                            ST™ / MW / 0.110827
                        </div>
                    </div>
                    <img src="~/Image/AWP Hyper Beast.png" />
                    <div class="bottomLot2">
                        AWP | Hyper Beast
                    </div>
                    <div class="priceLot2">
                        9 990.55
                    </div>
                </div>
                <div class="lot2" data-price="9708">
                    <div class="skinInfo2">
                        <div class="infoItem2">
                            ST™ / FT / 0.035134
                        </div>
                    </div>
                    <img src="~/Image/AK-47 Red Laminate.png" />
                    <div class="bottomLot2">
                        AK-47 | Red Laminate
                    </div>
                    <div class="priceLot2">
                        9 708.84
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/site3.js" asp-append-version="true"></script>
</body>
</html>