<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FAQRoom</title>
    <link rel="stylesheet" href="~/css/site5.css" asp-append-version="true" />
</head>


<body class="wrap">
    <div class="faqTitle">
        ВОПРОСОВ НЕТ
    </div>
    <script src="~/js/site3.js" asp-append-version="true"></script>
</body>
</html>