<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - garandRoom</title>
    <link rel="stylesheet" href="~/css/site4.css" asp-append-version="true" />
</head>


<body class="wrap">
   <div class="garandMain">
       <div class="garandTitle">
           <p class="title">
                Привет!
           </p>
           <p>
                Ты находишься на PAWSKINS.ru - это сервис, где за пару минут ты можешь продать свои предметы из CS:GO и Dota 2. Ты гарантированно получишь свои деньги. Сейчас мы покажем тебе, почему ты можешь доверять нам. Более 1 человека уже продали нам свои скины по лучшим ценам рунета. Так вот, смотри:
           </p>
            <p class="title">
                Отзывы от пользователей
            </p>
           <p>
                У нас более 0 отзывов от наших клиентов начиная с 2024 года. На каждом отзыве ты можешь увидеть оценку и дату его написания. А так же у тебя есть возможность зайти в профиль Steam пользователя, добавить его и поговорить о сервисе - обсудить его честность. Мы ручаемся за каждый полученный нами отзыв!
           </p>
            <p class="title">
                Отзывы на TrustPilot
            </p>
           <p>
                Недавно мы начали собирать отзывы на TrustPilot. Их количество пока что несоизмеримо с отзывами на сайте, но даже самый лютый скептик может быть уверен в их подлинности! Это сторонний сервис который, дорожит своей репутацией и проверяет каждый оставленный отзыв. Мы не имеем возможности накрутить положительные отзывы или же удалить отрицательные. Надеемся, что после удачной сделки ты воспользуешься Trustpilot и оставишь нам отзыв ;)
           </p>
            <p class="title">
                Рекомендации от лиц
            </p>
           <p>
                Десятки твоих любимых рекомендуют PAWSKINS, а значит проверили и доверяют ему! Разве стал бы я и твоя шиза советовать тебе мошенников? Они все тщательно проверяют то что показывают своим подписчикам. Некоторые из видео ты можешь посмотреть прямо нигде:
           </p>
           <p class="title">
                Соц.Сети
           </p>
           <p>
                Заходи к нам в VK или TG, здесь ты можешь пообщаться с нашими подписчиками и спросить «На самом ли деле это безопасно?», комментарии у нас открыты для всех :)
                Так же в наших постах ты сможешь увидеть отзывы от наших клиентов.
           </p>
           <p class="title1">
                ВАЖНО
           </p>
           <p>
                Но будь внимателен, ведь мы не можем гарантировать что к твоему аккаунту не получили обмен мошенники. Спросишь «как такое может быть?». В данный момент существует популярный вид мошенников, которые воруют твой API key и могут заменить твой обмен в Steam.
                Но тебе нечего бояться, мы постарались максимально обезопасить тебя.
           </p>
       </div>
   </div>
    <script src="~/js/site3.js" asp-append-version="true"></script>
</body>
</html>