
<title>@ViewData["Title"] - Index</title>


<div class="container wrap">
    <main role="main" class="pb-3">
        <div class="sellBlock">
            <div class="blocks">
                <div class="block">
                    <div class="tradeUrlBlock">
                        <div class="name">
                            Вставьте свою
                            <a class="tradeLink" href="">
                                ссылку
                            </a>
                            на обмен
                        </div>
                        <div class="tradeUrlStatus">
                            <input class="tradeUrlField" />
                            <div class="save"></div>
                        </div>
                    </div>
                    <div class="inventoryTopControl">
                        <div class="navigationWrapper">
                            <div class="gamesNavigation">
                                <a class="gamesNavigationLink_csgo" >
                                    <img src="~/Image/csgo-logo.png" />
                                </a>
                                <img src="~/Image/line1.png" />
                                <a class="gamesNavigationLink_dota">
                                    <img src="~/Image/dota2-logo.png" />
                                </a>
                            </div>
                            <div class="search">
                                <img src="~/Image/Lupa.png" />
                                <input type="text" placeholder="Поиск по скинам" id="elastic" />
                            </div>
                        </div>
                        <div class="buttonsWrapper">
                            <div class="priceOrder">
                                <div class="priceLine">
                                    <div class="redLine">
                                        <img src="~/Image/redLine.png" />
                                    </div>
                                    <div class="yellowLine">
                                        <img src="~/Image/yellowLine.png" />
                                    </div>
                                    <div class="greenLine">
                                        <img src="~/Image/greenLine.png" />
                                    </div>
                                </div>
                                <button class="priceOrderButton"> Цена </button>
                                <div class="priceOrderContent">
                                    <button id="sort-desc">
                                        По убыванию
                                    </button>
                                    <button id="sort-asc">
                                        По возрастанию
                                    </button>
                                </div>
                            </div>
                            <div class="selectAll">
                                <input type="checkbox" />
                                <div class="cube">
                                    <div class="cube123">
                                        <img src="~/Image/1.png" class="cube1" />
                                        <img src="~/Image/2.png" class="cube2" />
                                        <img src="~/Image/3.png" class="cube3" />
                                    </div>
                                    <div class="cube456">
                                        <img src="~/Image/4.png" class="cube4" />
                                        <img src="~/Image/5.png" class="cube5" />
                                        <img src="~/Image/6.png" class="cube6" />
                                    </div>
                                    <div class="cube789">
                                        <img src="~/Image/7.png" class="cube7" />
                                        <img src="~/Image/8.png" class="cube8" />
                                        <img src="~/Image/9.png" class="cube9" />
                                    </div>
                                </div>
                                <label>
                                    Выбрать
                                </label>
                            </div>
                            <div class="reloadInventory">
                                <img src="~/Image/Refresh2.png" />
                            </div>
                        </div>
                    </div>
                    <div class="inventoryWrapper">
                        <div class="inventory">
                            <div class="lot" data-price="4988">
                                <div class="skinInfo">
                                    <div class="infoItem">
                                        ST™ / MW / 0.078103
                                    </div>
                                </div>
                                <img src="~/Image/M4A4 Bullet Rain1.png"/>
                                <div class="bottomLot">
                                    M4A4 | Bullet Rain
                                </div>
                                <div class="priceLot">
                                    4 988.16
                                </div>
                            </div>
                            <div class="lot" data-price="53183">
                                <div class="skinInfo">
                                    <div class="infoItem">
                                        FN / 0.035134
                                    </div>
                                </div>
                                <img src="~/Image/M4A1-S Blue Phosphor.png" />
                                <div class="bottomLot">
                                    M4A1-S | Blue Phosphor
                                </div>
                                <div class="priceLot">
                                    53 183.34
                                </div>
                            </div>
                            <div class="lot" data-price="338899">
                                <div class="skinInfo">
                                    <div class="infoItem">
                                        FT / 0.359353
                                    </div>
                                </div>
                                <img src="~/Image/M4A4 Howl.png" />
                                <div class="bottomLot">
                                    M4A4 | Howl
                                </div>
                                <div class="priceLot">
                                    338 899.05
                                </div>
                            </div>
                            <div class="lot" data-price="129421">
                                <div class="skinInfo">
                                    <div class="infoItem">
                                        MW / 0.121248
                                    </div>
                                </div>
                                <img src="~/Image/Butterfly Knife Slaughter.png" />
                                <div class="bottomLot">
                                    Butterfly Knife | Slaughter
                                </div>
                                <div class="priceLot">
                                    129 421.87
                                </div>
                            </div>
                            <div class="lot" data-price="87634">
                                <div class="skinInfo">
                                    <div class="infoItem">
                                        MW / 0.138267
                                    </div>
                                </div>
                                <img src="~/Image/Specialist Gloves Tiger Strike.png" />
                                <div class="bottomLot">
                                    Specialist Gloves | Tiger Strike
                                </div>
                                <div class="priceLot">
                                    87 634.76
                                </div>
                            </div>
                            <div class="lot" data-price="1064968">
                                <div class="skinInfo">
                                    <div class="infoItem">
                                        FN / 0.063948
                                    </div>
                                </div>
                                <img src="~/Image/AWP Gungnir.png" />
                                <div class="bottomLot">
                                    AWP | Gungnir
                                </div>
                                <div class="priceLot">
                                    1 064 968.87
                                </div>
                            </div>
                            <div class="lot" data-price="9990">
                                <div class="skinInfo">
                                    <div class="infoItem">
                                        ST™ / MW / 0.110827
                                    </div>
                                </div>
                                <img src="~/Image/AWP Hyper Beast.png" />
                                <div class="bottomLot">
                                    AWP | Hyper Beast
                                </div>
                                <div class="priceLot">
                                    9 990.55
                                </div>
                            </div>
                            <div class="lot" data-price="9708">
                                <div class="skinInfo">
                                    <div class="infoItem">
                                        ST™ / FT / 0.035134
                                    </div>
                                </div>
                                <img src="~/Image/AK-47 Red Laminate.png" />
                                <div class="bottomLot">
                                    AK-47 | Red Laminate
                                </div>
                                <div class="priceLot">
                                    9 708.84
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="payout">
                    <div class="fourBlock">
                        <p class="selectedItems">
                            Выбранно
                            <span>
                                0
                            </span>
                            предметов на сумму
                        </p>
                        <p class="skinsPrice">
                            <span>
                                0.00 ₽
                            </span>
                        </p>
                        <img src="~/Image/line 2.png" />
                        <p class="choosePayment">
                            Выбирете способ оплаты
                        </p>
                        <div class="paymentList">
                            <div class="paymentLot">
                            </div>
                            <div class="paymentLot">
                            </div>
                            <div class="paymentLot">
                            </div>
                            <div class="paymentLot">
                            </div>
                            <div class="paymentLot">
                            </div>
                            <div class="paymentLot">
                            </div>
                            <div class="paymentLot">
                            </div>
                            <div class="paymentLot">
                            </div>
                            <div class="paymentLot">
                            </div>
                        </div>
                        <div class="continueDeal">
                            <label>
                                Продать
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>