<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoveRoom</title>
    <link rel="stylesheet" href="~/css/site2.css" asp-append-version="true" />
</head>

<body class="wrap">
    <div class="firstContainer">
        <div class="switchers">
            <div class="drop">
                <img src="~/Image/rubles.png" class="RaF"  />
                <button> RUB </button>
                <img src="~/Image/arrow.png" class="arrow" />
                <div class="dropContent">
                    <p>USD</p>
                </div>
            </div>
            <div class="drop">
                <img src="~/Image/flag.png" class="RaF" />
                <button> Russia </button>
                <img src="~/Image/arrow.png" class="arrow" />
                <div class="dropContent">
                    <p>English</p>
                </div>
            </div>
        </div>
        <div class="cobinetBlock">
            <div class="wrap">
                <div class="blockContent">
                    <div class="userProfile">
                        <div class="avatar">
                            <img src="~/Image/avatar.png" />
                        </div>
                        <div class="userInfo">
                            <div class="userName">
                                ALIEN
                            </div> 
                            <div class="profileFieldsTwoColumn">
                                <div class="profileInfo1">
                                    <div class="profileFields1">
                                        <div class="profileFieldRow1">
                                            <div class="profileFieldTitle1">
                                                Комиссия:
                                            </div>
                                        </div>
                                        <img src="~/Image/line3.png" />
                                        <div class="profileFieldRow1">
                                            <div class="profileFieldTitle1">
                                                Регистрация:
                                            </div>
                                        </div>
                                        <img src="~/Image/line3.png" />
                                        <div class="profileFieldRow1">
                                            <div class="profileFieldTitle1">
                                                Количество продаж:
                                            </div>  
                                        </div>
                                        <img src="~/Image/line3.png" />
                                        <div class="profileFieldRow1">
                                            <div class="profileFieldTitle1">
                                                Количество покупок:
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="profileInfo">
                                    <div class="profileFields">
                                        <div class="profileFieldRow">
                                            <div class="profileFieldTitle">
                                                Trade URL
                                            </div>
                                            <div class="profileFieldValue">
                                                <input type="text" />
                                            </div>
                                            <div class="profileFieldSave">
                                                <div class="saveButton">
                                                    <p>Сохранить</p>
                                                    </div>
                                            </div>
                                        </div>
                                        <img src="~/Image/line3.png" />
                                        <div class="profileFieldRow">
                                            <div class="profileFieldTitle">
                                                Email
                                            </div>
                                            <div class="profileFieldValue">
                                                <input type="text" />
                                            </div>
                                            <div class="profileFieldSave">
                                                <div class="saveButton">
                                                    <p>Сохранить</p>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/Image/line3.png" />
                                        <div class="profileFieldRow">
                                            <div class="profileFieldTitle">
                                                Телефон
                                            </div>
                                            <div class="profileFieldValue">
                                                <input type="text" />
                                            </div>
                                            <div class="profileFieldSave">
                                                <div class="saveButton">
                                                    <p>Сохранить</p>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/Image/line3.png" />
                                        <div class="profileFieldRow">
                                            <div class="profileFieldTitle">
                                                Telegram
                                            </div>
                                            <div class="profileFieldValue">
                                                <input type="text" />
                                            </div>
                                            <div class="profileFieldSave">
                                                <div class="saveButton">
                                                    <p>Сохранить</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="userTabs">
            <div class="transaction">
                <img src="~/Image/Dollars.png" />
                <label>
                    Транзакции
                </label>
            </div>
            <div class="inventoryLK">
                <div class="cubeLK">
                    <div class="cube123LK">
                        <img src="~/Image/1.png" class="cube1LK" />
                        <img src="~/Image/2.png" class="cube2LK" />
                        <img src="~/Image/3.png" class="cube3LK" />
                    </div>
                    <div class="cube456LK">
                        <img src="~/Image/4.png" class="cube4LK" />
                        <img src="~/Image/5.png" class="cube5LK" />
                        <img src="~/Image/6.png" class="cube6LK" />
                    </div>
                    <div class="cube789LK">
                        <img src="~/Image/7.png" class="cube7LK" />
                        <img src="~/Image/8.png" class="cube8LK" />
                        <img src="~/Image/9.png" class="cube9LK" />
                    </div>
                </div>
                <label>
                    Инвентарь
                </label>
            </div>
            <div class="safety">
                <img src="~/Image/BKB.png"/>
                <label>
                    Безопасность
                </label>
            </div>
        </div>
        <div class="userInventoryLK">
            <div class="blockContentHeader">
                <div class="blockName">
                    Транзакции
                </div>
                <div class="itemBlockFilters">
                    <div class="itemBlockFiltersInner">
                        <div class="itemBlockFilter">
                            <div class="filterInput">
                                <input type="text" class="filterInput__input" placeholder="ID транзакции" />
                            </div>
                        </div>
                        <div class="itemBlockFilter">
                            <div class="filterInput">
                                <input type="text" class="filterInput__input" placeholder="Название скина" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="transactionsTable">
                <div class="tableResponsive">
                    <table>
                        <tbody>
                            <tr class="rowHeaders">
                                <td class="cell"> Тип / Дата</td>
                                <td class="cell"> ID</td>
                                <td class="cell"> Статус</td>
                                <td class="cell"> Сумма</td>
                                <td class="cell"> Платёж. система</td>
                                <td class="cell"> Куда</td>
                                <td class="cell"> Баланс</td>
                            </tr>
                            <tr class="rowHeaders">
                                <td class="cell">
                                    Покупка скинов
                                <div class="date">12:00</div>
                                </td>
                                <td class="cell"> 790878</td>
                                <td class="cell">
                                    <div class="statusWrapper"> Получен </div>
                                </td>
                                <td class="cell"> 179.30</td>
                                <td class="cell"> Баланс</td>
                                <td class="cell"> — </td>
                                <td class="cell"> -1.88 </td>
                            </tr>
                            <tr class="rowHeaders">
                                <td class="cell">
                                    Покупка скинов
                                    <div class="date">12:00</div>
                                </td>
                                <td class="cell"> 790878</td>
                                <td class="cell">
                                    <div class="statusWrapper"> Получен </div>
                                </td>
                                <td class="cell"> 179.30</td>
                                <td class="cell"> Баланс</td>
                                <td class="cell"> — </td>
                                <td class="cell"> -1.88 </td>
                            </tr>
                            <tr class="rowHeaders">
                                <td class="cell">
                                    Покупка скинов
                                    <div class="date">12:00</div>
                                </td>
                                <td class="cell"> 790878</td>
                                <td class="cell">
                                    <div class="statusWrapper"> Получен </div>
                                </td>
                                <td class="cell"> 179.30</td>
                                <td class="cell"> Баланс</td>
                                <td class="cell"> — </td>
                                <td class="cell"> -1.88 </td>
                            </tr>
                            <tr class="rowHeaders">
                                <td class="cell">
                                    Покупка скинов
                                <div class="date">12:00</div>
                                </td>
                                <td class="cell"> 790878</td>
                                <td class="cell">
                                    <div class="statusWrapper"> Получен </div>
                                </td>
                                <td class="cell"> 179.30</td>
                                <td class="cell"> Баланс</td>
                                <td class="cell"> — </td>
                                <td class="cell"> -1.88 </td>
                            </tr>
                            <tr class="rowHeaders">
                                <td class="cell">
                                    Покупка скинов
                                    <div class="date">12:00</div>
                                </td>
                                <td class="cell"> 790878</td>
                                <td class="cell">
                                    <div class="statusWrapper"> Получен </div>
                                </td>
                                <td class="cell"> 179.30</td>
                                <td class="cell"> Баланс</td>
                                <td class="cell"> — </td>
                                <td class="cell"> -1.88 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
